*{
    background-color: grey  ;
    color: aliceblue;
}


h1{
    text-align: center;
    text-decoration: underline solid  orange 5px ;
}
.button{
    font-size: large;
    border: solid orange 5px;
    width:78px;
    padding-left: 5px;
    height: 50px;
    border-radius: 5px;
    padding-right: 5px;
    margin: 10px;
}
div{
    display:block;
}

p{
    font-size: 28px;
    text-align: center;
    margin: 0;
}
.visible{
    display: inline;
}
.snake{
    display: none;
}

#end,#act{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}